.container
	.static_page.about
		%p I’ve been in London for two years and as my visa started coming to an end (yes, I’m an Australian on the two year Tier-5 visa), I had an idea to go and photograph all the places I spent a lot of time at during my stay here.

		%p I guess I thought it would be a neat way to wrap up how awesome the last two years have been. Even though I’ve now got to leave, I can look back at the places that essentially were the cornerstone of my life here.

		%p Things escalated and I ended up starting to want to not only take photographs, but add bylines as to why I liked each place so much. I’m always up for any reason to design a new website and thought why not categorise it all online somehow for other people to see.

		%p If you’re not around for long, I would highly recommend you at least visit the following places:

		%p= link_to "Ozone Coffee Prosters"
		%p= link_to "Workshop"
		%p= link_to "Caravan"
		%p= link_to "Sebright"
		%p= link_to "BrewDog"
		%p= link_to "Le Mercury"
		%p= link_to "Columbia Road Flower Maket"

		%p If you have any ideas, complaints or insults please send them to <a href="">william@rainbird.me

