.nav.navbar-default
	.container-fluid
		= link_to root_path, class: "navbar-title" do
			%h1
				THE BEST OF
				%br/
				EAST LONDON
		.navbar-menu.clearfix
			.inline.pull-left
				%ul.list-unstyled.list-inline.pull-right
					%li= link_to "LIST", api_stores_path
					%li= link_to "MAP", root_path
			.inline.pull-right
				%ul.list-unstyled.list-inline.pull-left
					%li= link_to "ABOUT", about_path	
					%li= link_to "FAQ", faq_path
